<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philips.lighting.quickstart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Project"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">
        <activity
            android:name="com.philips.lighting.quickstart.PHHomeActivity"
            android:label="Project" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	    <activity
	         android:name="com.philips.lighting.quickstart.MyApplicationActivity"
	         android:label="@string/txt_selectbridges" >
	    </activity>        
	    <activity
	         android:name="com.philips.lighting.quickstart.PHPushlinkActivity"
	         android:label="Project" >
	     </activity>        
        
    </application>
</manifest>
